xcuserdata/*
*/xcshareddata/*

#cocoapods
Pods/
Podfile.lock
build/
Pods
Podfile.lock
firbuild.sh


ElevatorMaintenance.app.dSYM.zip
ElevatorMaintenance.ipa
Gemfile
Gemfile.lock
Preview.html
fastlane/*
fir_build/*
ElevatorMaintenance.xcworkspace/xcuserdata/*
